*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2c55ad;
    padding: 20px;
}
    #quiz-container {
        max-width: 400px;
        margin: auto;
        background-color: #150606;
        padding: 20px;
        border-radius: 8px;
    }
    button {
       
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
        color: orange;
    }
    option{
        display: block;
        margin: 10px 0;
    }
    #timer{
        font-weight: bold;
        color: rgba(214, 101, 15, 0.79);
    }
    